#section-1{
    position: relative;
    height:100vh;
    margin-top: 75px;

}

#button-1{
    align-items: center;
}

#to_Compile{
    height:500px;
}

#image-1{
    margin-left:250px;
    width:70vw;
    height:50vh;
    border: 5px solid white;
    
}


body {
    background-color: #212529;
}